@font-face {
    font-family: pixel;
    src: url('../../../font/pixel.TTF');
}

body {
    background-color: #fafafa;
    font-family: pixel;
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(../images/dino.png);
    position: absolute;
    bottom: 0;
}

.point {
    text-align: right;
    color: #444;
    font-weight: 400 !important;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(../images/cactus.png);
}

.game-over {
    text-align: center;
    color: #666666;
    margin-top: 50px;
}

@keyframes sliderigth {
    from {
        background-position: 0;
    }

    to {
        background-position: 70000%;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
    animation: sliderigth 600s infinite linear;
    width: 100%;
    height: 200px;
}